:root {
  --primary-color: #14b8a6;
  --primary-color-hover: #2ed5c2;
  --white: #ffffff;
  --dark-color: #282e38;
  --dark-color-hover: #465161;
  --gray: #898989;
}

@font-face {
  font-family: 'Raleway';
  src: url('./fonts/Raleway-VariableFont_wght.ttf'); /* Chrome 26+, Opera 23+, Firefox 39+ */
}
@font-face {
  font-family: 'Raleway';
  src: url('./fonts/Raleway-Italic-VariableFont_wght.ttf'); /* Chrome 26+, Opera 23+, Firefox 39+ */
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
  font-family: 'Raleway';
}

a {
  color: var(--primary-color);
  text-decoration: none;
  &:hover {
    color: var(--primary-color-hover);
  }
}
